*{
    box-sizing: border-box;

}

.hero-section{
    display: flex;
    flex-direction: row;
}

.hero-sub-section-1{
    width: 25%;
}
.hero-sub-section-2{
    width:100%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  

  
  li a:hover {
    background-color: #555;
    color: white;
  }
.profile-pic1{
  width: 120px;
  border-radius:60px;
}

  .projects-image{
    width: 240px;
    border-radius: 10px;
 
  }

  .project-description{
    width: 200px;
    font-size: 12px;
    line-height: 20px;
}
.project-title{
  font-weight: bold;
}


.card{
  align-self: center;
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}







@media screen and (max-width: 990px) {
  .hero-sub-section-1 {
    display: none;
}
}

@media screen and (max-width: 990px) {
  .hero-section {
    flex-direction: column;
}
}



.name-weather{
  display: flex;
  justify-content: space-between;
}


.name-weather-one{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.weather-image{
  width: 100px;
  height: 50px;

  /* margin: 40px; */
}